.lattice-text {
  margin: 0;
  font-family: var(--lattice-font);
  line-height: var(--lattice-line-height);
}
.lattice-text--size-xs {
  font-size: var(--lattice-font-size-xs);
}
.lattice-text--size-sm {
  font-size: var(--lattice-font-size-sm);
}
.lattice-text--size-md {
  font-size: var(--lattice-font-size-md);
}
.lattice-text--size-lg {
  font-size: var(--lattice-font-size-lg);
}
.lattice-text--weight-regular {
  font-weight: 400;
}
.lattice-text--weight-medium {
  font-weight: 500;
}
.lattice-text--weight-bold {
  font-weight: var(--lattice-font-weight-bold);
}
.lattice-text--tone-default {
  color: var(--lattice-color-text);
}
.lattice-text--tone-muted {
  color: var(--lattice-color-text-muted);
}
.lattice-text--tone-primary {
  color: var(--lattice-color-primary);
}
.lattice-text--tone-inherit {
  color: inherit;
}
.lattice-text--block {
  display: block;
}

@each $i in 0, 1, 2, 3, 4, 5, 6 {
  .lattice-text--mt-#{$i} {
    margin-top: var(--lattice-space-#{$i});
  }
  .lattice-text--mb-#{$i} {
    margin-bottom: var(--lattice-space-#{$i});
  }
}
